body {
  font-family: sans-serif;
  text-align: center;
  background: #df9c9c;
}

.heading{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.home-image {
  width: 40%;   
  margin-top: 20px;
  border-radius: 10px;
}


.container {
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px 0;
}


.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  cursor: pointer;
  background: #c1f7d0;
  border: 2px solid #333;
  transition: background 0.2s;
}

.cell:hover {
  background: #ddd;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background: #cdc4f7;
  font-size: 1rem;
}
.github-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #24292e; /* GitHub dark */
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.github-float:hover {
  background: #333;
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
}
